@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/tr-tempus-sans-itc');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: small;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    width: 100%;
    overflow-x: hidden;
 }
 nav{
   display: flex;
   position: fixed;
   right: 0;
   left: 0;
   z-index: 1000;
   padding: 10px 20px;
   background-color: #ffffff;
}


nav .logo img{
    width: 60px;
    cursor: pointer;
    margin: 0 2em;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 2em;
    padding: 0;
    height: 100%;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000000 !important;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fa7f01;
    display: block;
    transition: 0.2s linear;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: #fa7f01;
}

nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;
}

nav .icons i{
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin:0 2px;
    cursor: pointer;
    transition: 0.3s;
}
nav .icons i:hover{
   color: #fa7f01;
}
.navbar-toggler{
  justify-content: center;
  margin-right: 2em;
  border-style: none !important;
  outline: none !important;

}
.navbar-toggler-icon{
  padding: 10px;
  border-radius: 5px;
  background-color: #ff7b0072 !important;
}
.cart-item-count {
  top: 0;
  right: 0;
  background-color:#fa7f01; 
  color: #ffffff; 
  border-radius: 50%; 
  padding: 5px 8px; 
  font-size: 12px; 
  transition: background-color 0.3s, padding 0.2s;
}

.notification {
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: #4CAF50; 
  color: #fff; 
  padding: 0 15px; 
  border-radius: 5px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  z-index: 999; 
  transition: 0.5s ease-in-out; 
}


/*inicio*/
  .banner{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: flex-end;
    background-image: url(imagenes/banner1.jpg);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    background-position: bottom;
  }
  
  .banner-description{
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto;
    text-align: center;
  }
  
  
  .banner-description h2{
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    font-weight:500;
    font-size: xx-large;
  }
  /*seccion de servicios*/
  .seccion{
    padding-bottom: 2em;
  
  }
  section.events { 
    background: white;
  }
  
  .col {
    text-align: center; 
    flex: 1; 
  }
  
  .title h1{
    text-align: center;
    font-size: 5vmin;
    color: black;
    font-weight: bold;
    font-family:'Didact Gothic', sans-serif;
  }

  .row{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding-bottom: 3px;
    padding-top: 2px;
    background-color: transparent ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .col img{
    margin-top: 1px;
  }
  .events .row{
    margin-top:50px;
    padding: 4px;
  }
  
  .col h4{
    font-weight: bold;
    font-size: 20px;
    color: #fa7f01;
    font-family:  'Didact Gothic', sans-serif;
    margin: 10px auto;
  }
  .col p{
    font-family:  'Didact Gothic', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 3px;
    color: black;
    font-weight: bold;
  }
  
  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.minibanner{
  margin-top: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.minibanner .cont-minibanner{
  font-family: 'Didact Gothic', sans-serif ;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-image: url(imagenes/banner-servicios.png);
  background-size: cover;
  justify-content: center;
  background-position: top;
}
.minibanner .cont-minibanner h3{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.836);
  font-weight: bold;
  margin: auto; 
  text-shadow: 0  3px black;
}
.minibanner .cont-minibanner h4{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.877);
  font-weight: bold;
  margin: auto;
  text-shadow: 0  3px black;

}

/*footer*/
.container-f{
    max-width: 1170px;
    margin:auto;
  }
  .row-f{
    display: flex;
    flex-wrap: wrap;
  }
  .ul-f{
    list-style: none;
  }
.footer{
    background-color: #ffffff;
    padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ff7300;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ff7b00;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #000000;
    background-color: #ffffff;
  }
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }




 