*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagenes/fondo\ naranja.png);
}
/* Estilos para la tabla del carrito */
#cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 60px;
}

#cartTable th, #cartTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#cartTable th {
    background-color: #f2f2f2;
}

#cartTable img {
    max-width: 50px;
    max-height: 50px;
}

/* Estilos para el total del carrito */
#cartTotalContainer {
    margin-top: 20px;
    text-align: center;
}

#cartTotal {
    font-weight: bold;
    font-size: 18px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.table{
    border-color: black;
    border-style: solid;
}
