* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: small;
}

body {
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-image: url(imagenes/fondo\ naranja.png);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    background-position: top;
}

.links .navbar-nav .nav-item .nav-link{
    color: black;
    font-weight: bold;
}
 
nav {
    background-color: rgba(2, 249, 125, 0.201);
}

.inicio {
    padding-top: 100px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.inicio img {
    margin: 20px;
    width: 55%;
}

