/*menu*/
.menu{
    background-image: url(imagenes/fondo\ naranja.png);
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Didact Gothic', sans-serif;
    white-space: nowrap;
}

.menu .menu-box{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:5em;
}

.menu .menu-box .menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}
.menu .menu-box .menu-card .menu-img{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}
.menu .menu-box .menu-card .menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.menu .menu-box .menu-card .menu-img:hover img{
    transform: scale(1.1);
}

.menu .menu-box .menu-card .menu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu .menu-box .menu-card .menu-info h2{
    text-align: center;
    margin: 1em;
    font-size: 25px;
    color: #fa7f01;
    white-space: nowrap;
}

.menu .menu-box .menu-card .menu-info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu-box .menu-card .menu-info h3{
    text-align: center;
    margin-top: 10px;
}

/*seccion carrito*/
.menu .menu-box .menu-card .menu-info .cart-container {
  display: flex;
  align-items: center;
  margin-top: 10px; 

}
.menu .menu-box .menu-card .menu-info .menu-btn-carro{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: rgb(43, 255, 0);
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
} 
.menu .menu-box .menu-card .menu-info .menu-btn-carro:hover{
  transform: scale(1.1);
  color: #000000;
  cursor: pointer;
}
.menu .menu-box .menu-card .menu-info .counter-btn {
  background-color:#fa7f01;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.1s;
}
.menu .menu-box .menu-card .menu-info .counter-btn:active,
.menu .menu-box .menu-card .menu-info .menu-btn-carro:active{
  background-color: #000000;
  color: #ddd;
}
.menu .menu-box .menu-card .menu-info .counter {
  font-size: 16px;
  margin: 0 5px;
}

@media screen and (min-width: 1200px) {
  .menu .menu-box {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas extra grandes */
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu .menu-box {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media screen and (max-width: 767px) {
  .menu .menu-box {
      grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas pequeñas */
  }
}